.row{
    width: 100%;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.head p{
    margin: 0;
    font-weight: bold;
}

.subHead{
    display: flex;
    align-items: center;
    gap: 20px;
}

.subHead div{
    color: grey;
    font-weight: bold;
}

.subHead img{
    height: 20px;
    width: 20px;
}

.stat{
    height: 12px;
    width: 12px;
    background-color: grey;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    bottom: 16px;
    left: 17px;
}
.actv{
    background-color: rgb(2, 180, 2);
}

.imggs{
    padding-top: 5px;
}

.adj img{
    height: 30px;
    width: 30px;
    padding-top: 10px;
    border-radius: 50%;
}